<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: space-between;
            gap: 20px;
        }

        .box {
            flex: 1 1 calc(50% - 10px);
            background-color: lightgray;
            padding: 15px;
            text-align: center;
        }

        .box img {
            max-width: 100%;
            height: auto;
        }

        /* For smaller devices */
        @media (max-width: 768px) {
            .box {
                flex: 1 1 100%;
            }
        }
    </style>
</head>

<body>
    <%- include( 'Header.ejs' ) %>

    <div class="container">
        <div class="box">
            <img src="/collarj/100.jpg" alt="Image 1">
            
        </div>
        <div class="box">
            <img src="/collarj/101.jpg" alt="Image 2">
            
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/102.jpg" alt="Image 3">
            
        </div>
        <div class="box">
            <img src="/collarj/103.jpg" alt="Image 4">
            
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/104.jpg" alt="Image 3">
    
        </div>
        <div class="box">
            <img src="/collarj/105.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/106.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/107.jpg" alt="Image 4">
        
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/108.jpg" alt="Image 3">
    
        </div>
        <div class="box">
            <img src="/collarj/109.jpg" alt="Image 4">
    
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/110.jpg" alt="Image 3">
        </div>
        <div class="box">
            <img src="/collarj/111.jpg" alt="Image 4">

        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/112.jpg" alt="Image 3">
    
        </div>
        <div class="box">
            <img src="/collarj/113.jpg" alt="Image 4">

        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/114.jpg" alt="Image" >
        </div>
        <div class="box">
            <img src="/collarj/115.jpg" alt="Image 4">
        
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/116.jpg" alt="Image 3">
            
        </div>
        <div class="box">
            <img src="/collarj/117.jpg" alt="Image 4">
    
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/118.jpg" alt="Image 3">

        </div>
        <div class="box">
            <img src="/collarj/119.jpg" alt="Image 4">
    
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="/collarj/120.jpg" alt="Image 3">
        </div>
        <div class="box">
            <img src="/collarj/121.jpg" alt="Image 4">
        </div>
    </div>



    <div class="container">
        <div class="box">
            <img src="/collarj/122.jpg" alt="Image 3">
        </div>
        <div class="box">
            <img src="/collarj/123.jpg" alt="Image 4">
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/124.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/125.jpg" alt="Image 4">
            
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/126.jpg" alt="Image 3">
    
        </div>
        <div class="box">
            <img src="/collarj/127.jpg" alt="Image 4">
    
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/128.jpg" alt="Image 3">
            <p>Containe
        </div>
        <div class="box">
            <img src="/collarj/129.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/130.jpg" alt="Image 3">

        </div>
        <div class="box">
            <img src="/collarj/131.jpg" alt="Image 4">
            
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/132.jpg" alt="Image 3">
        </div>
        <div class="box">
            <img src="/collarj/133.jpg" alt="Image 4">
    
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/134.jpg" alt="Image 3">

        </div>
        <div class="box">
            <img src="/collarj/97.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/98.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/99.jpg" alt="Image 4">
            
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/135.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/136.jpg" alt="Image 4">
            
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/137.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/138.jpg" alt="Image 4">
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/139.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/140.jpg" alt="Image 4">
            
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/141.jpg" alt="Image 3">
            
        </div>
        <div class="box">
            <img src="/collarj/142.jpg" alt="Image 4">
            
        </div>
    </div><div class="container">
        <div class="box">
            <img src="/collarj/143.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/144.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/145.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/146.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/147.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/148.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/149.jpg" alt="Image 3">

        </div>
        <div class="box">
            <img src="/collarj/95.jpg" alt="Image 4">
        
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/94.jpg" alt="Image 3">
        
        </div>
        <div class="box">
            <img src="/collarj/93.jpg" alt="Image 4">

        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="/collarj/92.jpg" alt="Image 3">

        </div>
        <div class="box">
            <img src="/collarj/91.jpg" alt="Image 4">
    
        </div>
    </div>


</div>
<%- include( 'Footer.ejs' ) %>

</body>

</html>