<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, 
                   initial-scale=1.0">
    <title>
        Node.js Express EJS Example
    </title>
    <link rel="stylesheet" 
        type="text/css" 
        href="/style.css">
</head>

<body>
    <%- include( 'Header.ejs' ) %>
    <div class="container">
        <h1>
            Welcome to Geeks
            for Geeks
        </h1>
        <p>
            This is a basic example of
            including css files to ejs
        </p>
    </div>
</body>

</html>
